body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../photos/Background.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 300px;
}

.container h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.form-group button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}

.form-group a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.form-group a:hover {
  text-decoration: underline;
}

.username-input {
  width: calc(100% - 22px); /* Adjust the width to occupy full space */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-right: 10px; /* Add some space between username and password fields */
}

.password-input {
  width: calc(100% - 22px); /* Adjust the width to occupy full space */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.blue-text-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.blue-text-link:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}
.blue-text-link {
  text-decoration: underline;
  color: rgb(125, 9, 125);
}

.login-image {
  display: block;
  margin: 0 auto;
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}
